<ul id="slide-out" class="side-nav">
  <li>
    <%= link_to books_path, class: 'waves-effect' do %>
      <i class="material-icons">library_books</i>Books
    <% end %>
  </li>
  <li>
    <%= link_to books_path, class: 'waves-effect' do %>
      <i class="material-icons">search</i>Search
    <% end %>
  </li>
</ul>