<div id="delete-confirm-modal" class="modal">
  <div class="modal-content">
    <h4>Delete <span id="delete-book-title">Title</span></h4>
    <p>Are you sure you want to delete the following book?</p>
  </div>
  <div class="modal-footer">
    <%= link_to '#', class: 'modal-action modal-close waves-effect waves-green btn-flat', method: :delete, id: 'delete-book-link' do %>
      Yes
    <% end %>

    <%= button_tag 'No', class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
  </div>
</div>