$(document).ajaxComplete(function (event, request) {
  var msg = request.getResponseHeader("X-Message");
  var type = request.getResponseHeader("X-Message-Type");
  var $toastContent = $('<span>' + msg + '</span>');
  Materialize.toast($toastContent, 5000);
});