// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  padding-top: 30px;
}

.mt-10 {
  margin-top: 10px !important;
}

.google-sign-in {
  background-image: image-url("g-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}